{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 43.838628401831194,
        "longitude": -70.32681226730348,
        "elevation": 0,
        "unit_system": "imperial",
        "location_name": "Home",
        "time_zone": "America/New_York",
        "external_url": null,
        "internal_url": null
    }
}